// @font-face {
//     font-family: GothamBlackRegular;
//     src: url(../font/Gotham_Black_Regular.ttf);
//   }
//   @font-face {
//     font-family: GothamMediumRegular;
//     src: url(../font/Gotham_Medium_Regular.ttf);
//   }
//   @font-face {
//     font-family: GothamBookRegular;
//     src: url(../font/GothamBook.ttf);
//   }
//   @font-face {
//     font-family: GothamBold;
//     src: url(../font/GothamBold.ttf);
//   }
@font-face{
    font-family: AvenirRegular;
    src:url(../font/Avenir-Roman.ttf);
}
@font-face{
  font-family: AvenirMedium;
  src:url(../font/Avenir-Medium.ttf);
}
@font-face{
  font-family: AvenirHeavy;
  src:url(../font/Avenir-Heavy.ttf);
}
@font-face{
  font-family: AvenirOblique;
  src:url(../font/Avenir-Oblique.ttf);
}
