body{
    background-color: #fff;
}
.overflow--hidden{
    overflow: hidden;
}
.loader{
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .spinner-border{
        width: 3rem;
        height: 3rem;
    }
    
}
.grecaptcha-badge{
    display: none !important;
}
@media only screen and (min-width: 1860px) {
    .container{
        &--max{
            max-width: 1855px;
        }
        &--middle{
            max-width: 1340px;
        }
        &--middle--lg{
            max-width: 1380px;
        }
    }
    
}