.team{
    &__banner{
            padding-left: 15px;
            padding-right: 15px;     
            text-align: center;    
            padding-top: 160px;   
            padding-bottom: 188px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        &__title{
            font-size: 80px;
            color: #FFFFFF;
            text-transform: uppercase;
            font-family: $fontHeavy;
            margin-bottom: 0;
        }
    }
    &__employee{
        &__row{
            padding-top: 73px;
            padding-bottom: 87px;
            &__image{                
                &--right{
                    text-align: right;
                }
                img{
                    width: 369px;
                    height: 369px;
                    border-radius: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
            &__info{
                &__title{                    
                    font-family: $fontMedium;
                    font-size: 60px;
                    line-height: 72px;
                    color: #0F467B;
                    text-transform: uppercase;
                }
                &__position{
                    font-family: $fontOblique;
                    font-size: 32px;
                    line-height: 48px;
                    color: #C3C2C3;
                }
                &__text{
                    font-family: $fontRegular;
                    font-size: 30px;
                    line-height: 35px;
                    color: #C3C2C3;
                    margin-bottom: 0px;
                }
            }
        }


    }
    
    &__work{
        &__top{
            &__image{
                width: 100%;
                height: auto;
                max-height: 270px;
                object-fit: cover;
            }
        }        
        padding-top: 160px;
        padding-bottom: 87px;
        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__title{
                font-size: 80px;
                font-family: $fontMedium;
                color: #0F467B;
                margin-bottom: 60px;
                max-width: 770px;
            }
        }
        
        &__container{
            &__form{
                padding-left: 125px;
                background-image: url('../img/Home/icons/Quote-icon.svg');
                background-repeat: no-repeat;
                background-position-y: 75%;
                &__main{
                    display: flex;
                    &__left{
                        min-width: 708px;
                        &__email{
                            background: #DEDEDE;
                            padding: 24px 38px;
                            border: none!important;
                            outline: none;
                            width: 100%;
                            font-size: 24px;
                            font-family: $fontRegular;
                            color: #727272;
                            &::placeholder {
                                color: #727272;
                                opacity: 1; /* Firefox */
                            }
                              
                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: #727272;
                            }
                              
                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: #727272;
                            }
                        }
                        &__row{
                            &__quote{
                                background: #DEDEDE;
                                padding: 32px 38px;
                                border-bottom: 1px #9A9A9A dashed;
                                width: 100%;
                                margin-top: 32px;
                                &__textarea{
                                    background: #E8E8E8;
                                    padding: 16px;
                                    border: none!important;
                                    outline: none;
                                    width: 100%;
                                    color: #727272;
                                    font-family: $fontRegular;
                                    font-size: 24px;
                                    max-height: 305px;
                                    resize: none;
                                    &::placeholder {
                                        color: #C3C2C3;
                                        opacity: 1; /* Firefox */
                                    }
                                      
                                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                        color: #C3C2C3;
                                    }
                                      
                                    &::-ms-input-placeholder { /* Microsoft Edge */
                                        color: #C3C2C3;
                                    }
                                }
                            }
                            &__files{
                                &__list{
                                    list-style-type: none;
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding: 16px 41px;
                                    background-color: #EBEBEB;
                                    margin-bottom: 0;
                                    &__item{
                                        width: 33%;
                                        &__info{
                                            color: #727272;
                                            font-family: $fontMedium;
                                            font-size: 16px;
                                            &__image{
                                                height: 27px;
                                                width: auto;
                                                margin-right: 8px;
                                            }
                                        }

                                    }
                                }
                            }

                        }

                    }
                    &__right{
                        margin-left: 34px;
                        padding-top: 115px;
                        &__file{
                            &__label{
                                cursor: pointer;
                                font-size: 24px;
                                font-family: $fontMedium;
                                display: inline-block;
                                line-height: 25px;
                                background-color: #F9B436;
                                color: #FFFFFF;
                                white-space: pre-line;
                                padding: 16px 11px;
                                border-radius: 100%;
                                width: 90px;
                                height: 90px;
                                margin: auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                &:hover{
                                    background-color: #FAC35E;
                                }
                            }
                            &__input{
                                opacity: 0;
                                position: absolute;
                                z-index: -1;
                                width: 0;
                             }
                        }
                        &__submit{
                            cursor: pointer;
                            font-size: 24px;
                            font-family: $fontMedium;
                            display: inline-block;
                            line-height: 25px;
                            background-color: #08A4AA;
                            color: #FFFFFF;
                            white-space: pre-line;
                            padding: 16px 11px;
                            border-radius: 100%;
                            width: 90px;
                            height: 90px;
                            margin: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            border: none;
                            margin-top: 24px;
                            &:hover{
                                background-color: #39B6BB;
                            }
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    .team{
        &__banner{
            padding-top: 80px;   
            padding-bottom: 90px;
            &__title{
                font-size: 40px;
            }
        }

        &__employee{
            &__row{
                &__image{
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 100%;
                        max-width: 100%;
                    }
                }
                &__info{
                    &__title{
                        font-size: 30px;
                        line-height: 35px;
                    }
                    &__position{
                        font-size: 22px;
                        line-height: 24px;
                    }
                    &__text{
                        font-size: 20px;
                        line-height: 35px;
                    }
                }
            }
        }
        &__work{
            padding-top: 60px;
            padding-bottom: 50px;
            &__container{
                &__title{
                    font-size: 40px;
                }
                &__form{
                    &__main{
                        &__left{
                            min-width: auto;
                        }
                    }
                }


            }
        }

    }
}
@media only screen and (max-width: 767px){
    .team{
        &__employee{
            &__row{
                padding-bottom: 0;
                &__image{
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
        }

        &__work{            
            &__top{
                padding-top: 73px;
            }
            &__container{
                &__form{
                    padding-left: 40px;
                    padding-right: 40px;
                    background-size: 36px;
                    background-position-y: 63%;
                    &__main{
                        flex-direction: column;
                        &__left{
                            &__email{
                                font-size: 18px;
                            }
                            &__row{
                                &__quote{
                                    &__textarea{
                                        font-size: 18px;
                                    }
                                }
                                &__files{
                                    &__list{
                                        &__item{
                                            width: 50%;                                        
                                        }
                                    }
                                }
                            }
                        }
                        &__right{
                            margin-left: 5px;
                            padding-top: 20px;
                            display: flex;
                            justify-content: center;
                            &__file{
                                &__label{
                                    font-size: 16px;
                                    line-height: 1;
                                    width: 60px;
                                    height: 60px;
                                }
                            }
                            &__submit{
                                font-size: 16px;
                                line-height: 1;
                                width: 60px;
                                height: 60px;
                                margin: 0;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}